<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <!--=========================================================-->
    <link th:href="@{/css/login/main.css}" rel="stylesheet">
</head>
<body>
<div class="login" id="container">
    <div class="login-name">채팅</div>
    <div>
        <input class="input-name" type="text" placeholder="아이디"/>
    </div>
    <div>
        <button>시작하기</button>
    </div>
</div>
</body>
</html>